// Next.js API route support: https://nextjs.org/docs/api-routes/introduction

import { NextApiRequest, NextApiResponse } from "next";

// http://localhost:13000/api/demoZebra

export default (req: NextApiRequest, res: NextApiResponse) => {
  res.send({
    ok: true,
  });
};
